<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.teslakitty.browsercat">

    <!-- Internet permission for browsing -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Features required for Android TV -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Requires Android TV (Leanback support) -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <!-- Application declaration -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Browsercat">

        <!-- Main Activity for launching the app -->
        <activity
            android:name=".MainActivity"
            android:banner="@drawable/app_icon_your_company"
            android:exported="true"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape">

            <!-- Intent filter for main entry point and Leanback launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activity declarations for details and playback -->
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />

        <activity
            android:name=".PlaybackActivity"
            android:exported="false" />

        <activity
            android:name=".BrowseErrorActivity"
            android:exported="false" />
    </application>

</manifest>
